.contact {
    background-image: url(../bg-Contacts.png);
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 8px;
    

    span {
        font: var(--subtitle);
        color: var(--purple);

    }

    h2 {
        font: var(--title-md);
        color: var(--gray-600);
        font-weight: bold;
    }

    p {
        font: var(--text-md);
        color: var(--gray-500);
    }
}


.social-links {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    
    
    li {
        display: flex;
        gap: 8px;
        align-items: center;
        padding: 20px;
        border: 1px solid var(--gray-300);
        border-radius: 12px;
        width: 400px;
        height: 70px;
        
    }

    

    a {
    
        font: var(--text-md);
        color: var(--gray-500);

    
       
}
}

li:hover {
    border: 1px solid var(--blue);
}

ul li:hover svg path { 
    fill: var(--blue)
}

.right-item {
    margin-left: auto;
}





