main {
    margin-bottom: 144px;
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    

    span {
        color: var(--red);
        font: var(--subtitle);
    }

    h2{
        margin-top: 8px;
        font: var(--title-md);
        color: var(--gray-600);
        margin-bottom: 56px;
        font-weight: bold;
    }
}

.projects-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    padding: 0 120px;
    gap: 24px;
    

    figure {
        background-color: var(--gray-300);
        padding: 20px;
        border-radius: 12px;
        border: 1px solid transparent;
    }

   

    img {
        width: 100%;
       
        border-radius: 8px;
    }

}

figure:hover {
    border: 1px solid var(--gray-400);
    
}



figcaption {
    margin-top: 24px;
    padding: 4px;

    h4 {
        font: var(--title-sm);
        color: var(--gray-600);
        font-weight: bold;
    }

    p {
        margin-top: 8px;
        font: var(--text-sm);
        color: var(--gray-500);
        
    }
}

